.title {
    min-height: 90vh;
    color: var(--text-color);
    background-image: url("./assets/projects title bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem 2rem;
}

.title p {
    font-size: 0.8rem;
}

.mission {
    min-height: 50vh;
    color: var(--text-color-dark);
    background-color: white;
    padding: 3rem 2rem;
    display: flex;
    flex-wrap: wrap;
}

.mission h6 {
    margin: 0;
}

.mission img {
    max-width: 80vw;
}

.missiontext {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    justify-content: center;
}

.mission p {
    margin-bottom: 0;
}

.connect {
    min-height: 50vh;
    color: var(--text-color);
    padding: 3rem 2rem;
    font-size: 0.8rem;

    background-image: url("./assets/connect bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.connectbutton {
    border-radius: 50px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);

    display: flex;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin-top: 1rem;

    transition-duration: 200ms;
}

.connectbutton:hover {
    background: rgba(255, 255, 255, 0.35);
}

.connectbutton img {
    max-width: 33px;
    height: auto;
}

.members {
    color: var(--text-color);
    background-image: url("./assets/team bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem 1rem;

    text-align: center;
}

@media (min-width: 1000px) {
    .title {
        padding: 2rem 8rem;
    }

    .title p {
        max-width: 50vw;
        font-size: 1rem;
    }

    .mission {
        flex-wrap: nowrap;
        padding: 4rem 5rem;
    }

    .mission img {
        max-width: 40vw;
    }

    .mission p {
        font-size: 1.8rem;
        font-size: clamp(1rem, 1.5vw + 0.5rem, 2rem);
    }

    .missiontext {
        margin-top: 0;
    }

    .connect {
        display: flex;
        padding: 8rem 8rem;
        gap: 4rem;
    }

    .connectbuttoncontainer {
        display: flex;
        gap: 1rem;
    }

    .members {
        padding: 8rem 8rem;
    }

    h2 {
        font-size: 3rem;
    }
}