.projectscontainer {
    color: var(--text-color);
    margin-top: 7rem;
    padding: 2rem 2rem;

}

.allprojectscontainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.astracontainer {
    background-image: url("./assets/astra bg.png");
}

#singleprojectcontainer {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem;
    padding: 2rem 2rem;
    font-size: 0.8rem;
}

.containerleft h1 {
    margin-bottom: 2rem;
}

.containerright p {
    margin: 0;
}

.projectscontainer h3 {
    text-align: center;
}